<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="display-4">{{ heading }}</h1>
        <h2>{{message}}</h2>
        <p class="lead">Look through our awesome recipes below:</p>
        <hr class="my-4">
        <ul>
            {% for item in recipes %}
            <li>
                <a href="recipes/{{item.id}}">{{item.title}}</a> --by
                <a href="authors/{{item.author.id}}">{{item.author.author_name}}</a>
            </li>
            {% endfor %}
        </ul>
        <p class="lead">
            <span><a href="addauthor/">Add Author</a></span>
            <span><a href="addrecipe/">Add Recipe</a></span>
        </p>
    </div>
  </body>
</html>
