<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">RecipeBox</a>

        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addrecipe">Add Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addauthor">Add Author</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </nav>

      <div class="jumbotron text-center p-3 my-3 bg-dark text-white">
        <h1>{{ heading }}</h1>
        <p>View recipes by other users or sign in to add recipes</p>
        <img
            class="card-img-top"
            src="{% static 'img/recipe.jpg' %}"
            alt="Recipe image"
            height="400"
          />
      </div>

      <div class="jumbotron p-3 my-3 bg-dark text-white">
    
        <h3 class="display-6">All Recipes</h3>
        <p class="lead">Look through our awesome recipes below:</p>
        <hr class="my-4 bg-light" />

        <div class="card mb-3">
          {% for item in recipes %}
          <div class="card-body">
            <h5 class="card-title text-muted">
              <a href="recipes/{{item.id}}">{{item.title}}</a> --by
              <a href="authors/{{item.author.id}}"
                >{{item.author.author_name}}</a
              >
            </h5>
            <p class="card-text text-dark">{{ item.description }}</p>
            <p class="card-text">
              <small class="text-muted">Need to add created at: 11/12/20</small>
            </p>
          </div>
          <hr class="my-4 bg-dark" />
          {% endfor %}
        </div>
      </div>
  
      <div class="card-footer text-muted bg-dark text-center ">
        Copyright &copy; Latisha Johnson
      </div>
    </div>
  </body>
</html>
