<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">RecipeBox</a>

        <!-- Links -->
        <ul class="navbar-nav">
        {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/addrecipe">Add Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addauthor">Add Author</a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          {% endif %} {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      
      <div class="card">
        <h1 class="card-header">{{ recipe.title }}</h1>
        <p class="container"><a href="/">Go Home</a></p>
        <div class="card-body">
          <h5 class="card-title">
            By
            <a href="/authors/{{recipe.author.id}}"
              >{{recipe.author.author_name}}</a
            >
          </h5>
          <h3 class="card-subtitle mb-2 text-muted">
            Cooking Time: {{recipe.approx_time}}
          </h3>
          <h4 class="card-subtitle mb-2 text-muted">
            Overview: {{recipe.description}}
          </h4>
          <p class="card-text">Cooking Instructions: {{recipe.instructions}}</p>
        </div>
      </div>

      <div class="card-footer text-muted bg-dark text-center">
        Copyright &copy; Latisha Johnson
      </div>
    </div>
  </body>
</html>
